.error-404 {
    display: grid;
    grid-template-columns: 1fr;
    //place-items: center;
    //margin: 0 auto;
    max-width: 30em;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .home-link {
        @include call-to-action;
        margin-bottom: 2rem;
    }
}