.page-id-33 {
    
    .site-main {
        margin: 0;

        & > *:not(.home-header, .statistics) {
            margin: 0 auto;
        }
        
        .call-to-action {
            margin: 3rem auto;
        }
    }

    
    
}

.home-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.site-description {
    margin: 0;
    color: transparent;
}

.hero-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-height: 1080px;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hero-slider {
    width: 100%;
    height: auto;
    position: absolute;

    @media (min-width: 48rem) {
        .slick-prev {
            left: 2rem;
        }
    
        .slick-next {
            right: 2rem;
        }

    }
    
    img {
        width: 100%;
        height: auto;
    }
}

.hero-text {
    display: block;
    position: absolute;
    filter: drop-shadow(2px 2px 0.1rem grey);
    
    padding: 1rem .5rem;
    z-index: 1000;
    color: $color__background-body;

    @media (min-width: 48rem) {
        padding-left: 3rem;
    }

    h1 {
        font-size: 1.75rem;
        margin: .5rem 0rem;

        @media (min-width: 48rem) {
            font-size: 2.25rem;
        }

        @media(min-width: 65rem) {
            font-size: 5rem;
        }

    }

    p {
        margin: 0;
        font-weight: $reg;
        @media (min-width:48rem) {
            font-size: 1.5rem;
            font-weight: $bold;
        }

        @media(min-width: 65rem) {
            font-size: 2.5rem;
        }
    }
}

.cta-container {
    display: flex;
    flex-direction: column;
    flex: wrap;
    justify-content: space-around;
    margin: 2rem auto;
    max-width: 50rem;

    @media(min-width: 48rem) {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

.call-to-action {
    @include call-to-action;
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 1rem;
}

.hero-lower-subtext {
    margin: 4rem auto;
    width: 70%;

    p {
        margin-top: 4rem;
    }

    @media(min-width: 48rem) {
        
        display: grid;
        grid-template-areas: 
            "text1 text2"
            "button button";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
    
        :first-child {
            grid-area: text1;
        }
    
        :nth-child(2) {
            grid-area: text2;
        }
    
        .call-to-action {
            grid-area: button;
            grid-row: span 2;
            margin-top: 0;
            
        }
    }

}

.featured-industry-section {

    margin: 1.5rem auto;

    .featured-industry-title {
        //for screen reader context, element hidden
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .featured-industry-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    
        @media (min-width: 48rem) {
            flex-direction: row;
            justify-content: center;
    
        }
    
        .industry-item {
            width: 15rem;
            height: 10rem;
            display: flex;
            align-self: center;
            margin: .5rem 3rem;
    
            a {
                text-decoration: none;
                color: $color__background-body;
                padding: 1rem;
                text-align: center;
                width: fit-content;
                height: fit-content;
                font-size: 1.25rem;
                margin: auto;
                vertical-align: middle;
                font-weight: $bold;
            }
    
            &:first-child {
                background: url('sass/components/media/images/recyclebin.webp');
                background-size: cover;
                background-repeat: no-repeat;
            }
    
            &:nth-child(2) {
                background: url('sass/components/media/images/electric-vehicle.webp');
                background-size: cover;
                background-repeat: no-repeat;
            }
    
            &:nth-child(3) {
                background: url('sass/components/media/images/trees.webp');
                background-size: cover;
                background-repeat: no-repeat;
            }
    
            &:nth-child(4) {
                background: url('sass/components/media/images/plants-and-building.webp');
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}




@media (min-width: 48rem) {
        .featured-speaker-container {
            display: flex;
            flex: wrap;
            flex-direction: row;
            justify-content: space-around;
        
        .single-speaker {
            max-width: 25rem;
            margin: 1rem;
            width: fit-content;
        }
    }

}
.speaker-slider {
    max-width: 70rem;
    margin: 0 auto;
    .slick-arrow {
        height: 30%;
    }
}

.featured-speakers-title {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 4rem;
}

.single-speaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 100%;
    height: auto;
    
    //slick bug fix - still applies `opacity: 0` when unslicked
    @media (min-width: 48rem) {
        opacity: 1 !important;
    }

    img {
        width: 75%;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
    }

    .speaker-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        width: 100%;
        height: auto;
        text-decoration: none;

        p {
            margin: 0 auto;
            text-align: center;
            width: fit-content;
            color: $dark;

            &:nth-child(2) {
                font-size: 1.25rem;
                font-weight: $bold;
            }
        }
    }
}

.statistics {

    margin: 1rem auto;

    :nth-child(2) {
        display: none;
    }
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
        
        &:first-child {
            background-color: #5C8001;
            margin-bottom: 0;
        }

        
        
        &:nth-child(3) {
            background-color: #5296A5;
        }

        
    }
    
    p {
        display: block;
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        font-size: 1.25rem;
        font-weight: $bold;
        color: $color__background-body;
        padding: 1rem;
    }


    @media (min-width: 48rem) {
        display: grid;
        grid-template-areas: 
          "stat-1 grass"
          "ocean stat-2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 1rem auto;
        position: relative;
        left: 0rem;
        width: 100%;

        div:nth-child(1) {
            grid-area: stat-1;
        }

        div:nth-child(2) {
            display: block;
            grid-template-areas: 'grass';
            background: url('sass/layouts/ccc-layouts/stats-images/grass.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 0;
        }

        div:nth-child(3) {
            grid-area: stat-2;
        }

        div:nth-child(4) {
            grid-template-areas: 'ocean';
            background: url('sass/layouts/ccc-layouts/stats-images/ocean.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 0;
        }
    }
}

.map-section {

    .venue-details {
    
        font-size: 1.25rem;
        margin-bottom: 2rem;
        margin: 0 auto;
    
        p {
            margin: 0;
    
            &:first-child {
                font-size: 1.25rem;
                font-weight: $bold;
            }
    
            &:nth-child(3) {
                margin-top: 1rem;
            }
    
        }
    
        a, a:visited {
            text-decoration: none;
            color: $black;
        }
    }

    @media(min-width: 48rem) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        width: 95%;
        height: auto;
        padding: 1rem;

        .acf-map {
            max-width: 60%;
        }
    
        .venue-details {
            width: fit-content;
            height: 50%;
            margin: 0 auto;
            padding-left: 1rem;
        }
    }
}
