.nav-previous {
  margin-right: 30rem;
}

.nav-next {
  margin-left: 10rem;
}

.site-main-news h1 {
  margin-left: 3rem;
}

.site-main-news .post-thumbnail {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding-top: 1rem;
}

.site-main-news .entry-content p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 1rem;
}


  /* Center the list items within the <ul> or <ol> */
.site-main-news .entry-content ul,
.site-main-news .entry-content ol {
  text-align: center;
  margin: 0 auto;
  width: 80%; 


}

/* Remove the display: flex property from list items */
.site-main-news .entry-content li {
  display: list-item; 
  list-style-position: inside; 
  padding-bottom: 1rem;
}

.category-news {
  max-width: 70em;
  margin: 0 auto;
}

