.article a {
    text-decoration: none;
    color: $black;
  }

  @media screen and (min-width: 800px) {
    .thumbnail-wrapper {
      display: flex;
      margin-top: 5rem;
    }
  
    .thumbnail-wrapper .post-thumbnail {
      flex: 0 0 40%; 
      margin-right: 1rem; 
    }
  
    .thumbnail-wrapper .entry-content-wrapper {
      flex: 1;
      margin-top: -1rem;
    }
  
    .thumbnail-wrapper .entry-content {
      margin-top: 0.5rem; 
    }
  
    .thumbnail-wrapper .entry-content p,
    .thumbnail-wrapper .entry-content h2 {
      width: 60%;
    }
  }
  
  @media screen and (min-width: 801px) {
    .post-thumbnail {
      width: 100%;
    }
  }
  