    .single-product-main {
        .woocommerce-product-gallery {
            margin-bottom: 1rem;
        }
        .product-description {
            display: none;
        }
        .tabs {
            display: none;
        }
        .price {
            font-size: 1.2rem;
        }
        .single_add_to_cart_button {
            margin-bottom: 1rem;
            @include call-to-action;
            margin: 0 auto;
        }
        .tppdil_description {
            display: none;
        }
        .qty {
            width: 3rem;
            text-align: center;
        }
        .woocommerce-product-gallery__image {
            img {
                border-radius: 2rem;
            }
        }
    }



    // Media Query 

    @media (min-width: 20rem) {
        .products .columns-3
            
            .product_cat-general { 
                background-color: $generalTickets;
                border-radius: 2rem;
                width: 15em;
                padding: 1rem 2rem;
    
            
            }
            .product_cat-vip {
                background-color: $vipTickets;
                border-radius: 2rem;
                width: 15rem;
                padding: 1rem 2rem;
            
            } 
            .button {
                margin: 1rem auto;
            }
        
        }


    @media (max-width: 55.31rem) {
        .single-product-main {
            text-align: center;
            margin: 2rem;
            .woocommerce-product-gallery {
                width: 100%;
            }
            label.required-field { 
                width: 100%;
            }
        }
    }


    @media (min-width: 55.31rem) {
        .single-product-main {
        .cart {
            width: 40%;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 2rem;
        }
        .product_title {
            width: 50%;
        }
        .woocommerce-product-gallery {
            width: 50%;
        }

        .products .columns-3 {
            display: flex;
            width: 50rem;
            margin-bottom: 2rem;
        .product {
            margin: 0 1rem 0 1rem;
        }
        }
    }
    }

