#gform_wrapper_2,
#gform_wrapper_3 {

    input[type=submit]{
        background-color: $secondary;
        color: white;
        font-size: 1rem;
        outline: none;
        padding: 0.5rem 1rem;
        margin: 0;
        border: none;
        border-radius: 25px;
        text-align: left;
    }
}

.post-281,
.post-283{
    max-width: 48em;
    margin: 0 auto;
}