// General Ticket Box 
body.page-id-39 {
    li.product.type-product {
        margin: 0 1rem 1rem 1rem;
        padding: 1rem;
        border-radius: 2rem;
        a.woocommerce-LoopProduct-link {
            .woocommerce-loop-product__title {
                text-decoration: none !important;
                color: $black;
            }
        }
        .product-price, .product-description{ 
            margin-bottom: 0.5rem;
        }
    }
    .price{
        text-decoration: none;
    }
    // Ticket Color 
    .product_cat-general { 
        background-color: $generalTickets;
    }
    .product_cat-vip {
        background-color: $vipTickets;
    } 

}



// Media Queries 
@media (min-width: 20rem) {
    .site-main {
        #entry-title, .ticketClass {
            margin: 2rem;
        }

    }

}

@media (min-width: 30rem) {
    body.page-id-39 {
        li.product.type-product {
            width: 28rem;
            margin: 1rem auto 1rem auto;
            
        }
    }
}

@media (min-width: 48rem) {
    body.page-id-39 {
        li.product.type-product {
            width: 18rem;
            margin: 0 2.5rem;
        }
    }
}



@media (min-width: 63.75rem) {
    body.page-id-39 {
        li.product.type-product {
            max-width: 24rem;
        }
}
}


a.button {
    @include call-to-action;
}

