// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin button-style {
	background-color: $primaryLight;
	color: white;
}

// Call to action <a> tags
@mixin call-to-action {
	display: block;
	color: $color__background-body;
	background-color: $color__call_to_action;
	font-weight: bold;
	font-size: 1.25rem;
	padding: .5rem;
	border-radius: 5rem;
	text-decoration: none;
	width: fit-content;
}
